.option
  position: relative
  display: grid
  grid-template-columns: auto 1fr auto
  align-items: center
  grid-gap: .5em
  border-radius: 1em

  *
    margin: 0

  .check
    grid-column: 1/2
    grid-row: 1/2
    zoom: 1.5

  .body
    grid-column: 2/3
    grid-row: 1/2
    font-weight: 500

  .percentage
    grid-column: 3/4
    grid-row: 1/2
    font-weight: 500

  .indicator
    grid-column: 1/4
    grid-row: 2/3

    height: .5em
    background: var(--c1)
    border-radius: .25em

    &.empty
      width: 100%
      background: var(--bg2)

