<div class="option"
     [title]="option.body + ': ' + option.voteCount + ' vote' + (option.voteCount === 1 ? '' : 's')"
>
  <input class="check" type="checkbox"
         [(ngModel)]="option.viewerVoted"
         (change)="optionChange.emit(option)"
         [disabled]="!enabled"
         [title]="enabled ? 'Vote' : 'Sign in to vote'">
  <p class="body">{{option.body}}</p>
  <div [ngClass]="{'indicator': true, 'empty': show, 'hidden': !show}"></div>
  <ng-container *ngIf="show">
    <p class="percentage">{{percentage()}}%</p>
    <div class="indicator"
         [ngStyle]="{'width': percentage() + '%', 'background': 'var(--c' + (index + 1) + ')'}"
    ></div>
  </ng-container>
</div>
