.option
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1em
  border: 1px solid var(--border)
  border-radius: 1em

  *
    margin: 0

  &.viewerVoted
    font-weight: 500

  .body
    z-index: 1

  .percentage
    z-index: 1
