<div class="poll" *ngIf="poll">
  <header>
    <h2 class="title">{{poll.title}}</h2>
  </header>
  <div class="options">
    <app-option
      *ngFor="let option of options; let i = index"
      [option]="options[i]"
      (optionChange)="optionChanged($event, i)"
      [index]="i"
      [totalVotes]="poll.totalVotes"
      [show]="poll.viewerVoted || config.showResultsImmediately"
      [enabled]="!!user"
    ></app-option>
  </div>
  <div class="menu">
    <p class="total">Total votes: {{poll.totalVotes}}</p>
    <i class="fa-solid fa-ellipsis"></i>
    <ng-container *ngIf="user">
      <button type="submit" (click)="vote()">
        <ng-container *ngIf="!loading">Vote</ng-container>
        <ng-container *ngIf="loading">
          <i class="fas fa-circle-notch fa-spin"></i>
        </ng-container>
      </button>
    </ng-container>
    <ng-container *ngIf="!(user)">
      <button type="submit" (click)="loginWithRedirect()"
              class="btn btn-block btn-social btn-github">
        Sign in<i class="fa-brands fa-github"></i>
      </button>
    </ng-container>
  </div>
</div>
