.poll
  display: flex
  flex-direction: column
  justify-content: center
  gap: 1em
  width: 100%

  header
    display: flex
    align-items: center
    justify-content: space-between

    .title
      margin: 0
      font-size: 1.25rem
      font-weight: 600

    .menu
      padding: .5em
      height: 100%
