@import "../../style/global"

.poll
  display: flex
  flex-direction: column
  justify-content: center
  gap: 1.5rem
  width: 100%

  header
    display: flex
    align-items: center

    .title
      margin: 0
      font-size: 1.25rem
      font-weight: 600

  .menu
    display: flex
    gap: 1em
    align-items: center

    .total
      flex: auto
      font-weight: 300

    i
      height: 100%
      font-size: 1.25rem

    button
      i
        padding-left: .5em
