@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap')
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')

\:root
  --bg: white
  --bg-2: #eaeaea
  --fg: black
  --button-fg: var(--bg)
  --primary: var(--c4)
  --border: var(--bg-2)
  --c1: #ff6783
  --c2: #ff8767
  --c7: #deb125
  --c8: #a9ec39
  --c3: #5effc5
  --c4: #396fd2
  --c5: #b89aff
  --c6: #fa80e6

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Nunito', sans-serif
  accent-color: var(--primary)

body
  max-width: 600px
  margin: auto
  padding: 20px

button
  font-size: 1.1rem
  font-weight: bold
  padding: .3em .5em
  border-radius: .25em
  border: none
  background: var(--primary)
  color: var(--button-fg)
